<div class="container">
  <%= link_to dashboard_path, class: "arrow-index-cars links-cars" do %>
    <div class="btn-green">
      <i class="fa-solid fa-arrow-left"></i> Mes réservations
    </div>
  <% end %>

    <h1>Ma réservation</h1>
  <div class="d-flex gap-5">
    <div class="details-car">
      <div class="d-flex gap-4">
        <h2><%= @booking.car.brand %> <%= @booking.car.model %></h2>
        <h2>★ 4.9</i></h2>
          <img src="https://i.postimg.cc/HkJ8bCZ4/profil-photo.png" class="card-trip-user avatar-bordered" />
      </div>

      <div class="show-info">
        <%= @booking.car.year_of_production %> • <%= @booking.car.address %>
      </div>
      <div class="show-info">
        <p>Prix total : <%= @booking.total_price.to_i %> €</p>
        <p>Début  de la location : <%= @booking.starts_at.strftime('%d/%m/%Y') %> </p>
        <p>Fin de la location : <%= @booking.ends_at.strftime('%d/%m/%Y') %></p>
      </div>
      <div class="show-info">
        <%= simple_format(@booking.car.description) %>
      </div>
    </div>
    <div class="img-book-car">
      <% if @booking.car.photo.attached? %>
        <%= cl_image_tag(@booking.car.photo.key, alt: "photo-car", class: "car-img-show-width") %>
      <% else %>
        <%= image_tag('random-car.jpg', alt: "random-photo-car", class: "car-img-show-width") %>
      <% end %>
    </div>
  </div>
</div>
