<div class="container pt-4 justify-content-center">
  <div class="row justify-content-center">
    <h2> Plus de <%= @cars.count %> voitures disponibles, réservez la vôtre !</h2>
      <div class="col-md-8">
        <div class="cars-list-flex">
          <% @cars.each do |car| %>

            <%= link_to car_path(car), class: "links-cars" do %>
              <div class="card-trip">
                <% if car.photo.attached? %>
                  <%= cl_image_tag(car.photo.key, alt: "photo-car", crop: :fill) %>
                <% else %>
                  <%= image_tag('random-car.jpg', alt: "random-photo-car", crop: :fill) %>
                <% end %>

                  <div class="card-trip-infos">
                    <div>
                      <h2><%= car.brand %> <%= car.model %></h2>
                      <p>Disponible</p>
                    </div>
                    <h2 class="card-trip-pricing"><%= car.price_per_day.to_i %> € / jour</h2>
                    <img src="https://i.postimg.cc/HkJ8bCZ4/profil-photo.png" class="card-trip-user avatar-bordered" />
                  </div>
                </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <div class="col-md-4">
      <div style="width: 100%; height: 600px;"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
